{% comment %}
Display all custom metafields for the current product
{% endcomment %}

{% if product.metafields.custom != blank %}
  <div class="product-custom-metafields page-width">
    <h3>Specificatii cheie</h3>
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key in product.metafields.custom %}
          <tr>
            <td>{{ key[0] | replace: '_', ' ' | capitalize }}</td>
            <td>
              {% assign value = key[1].value %}
              {% if value == blank %}
                N/A
              {% elsif value.size > 1 %}
                {{ value | join: ', ' }}
              {% else %}
                {{ value }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>No custom metafields available for this product.</p>
{% endif %}


{% schema %}
{
  "name": "Specifications",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Category Specifications"
    }
  ],
  "presets": [
    {
      "name": "Category Specifications Table",
      "category": "Product",
      "settings": {
        "heading": "Category Specifications"
      }
    }
  ]
}
{% endschema %}