select {
    border-radius: 15px 5px 15px 5px !important;
}

.border-radius-main {
    border-radius: 15px 5px 15px 5px !important;
}

.bg-main {
    background-color: #00BAD7 !important;
}

.text-main {
    color: #00BAD7 !important;
}

.border-main {
    border-color: #00BAD7 !important;
}